@page "/databindingdemo"
@inherits DatabindingDemoBase

<h1>Data Binding Demo </h1>
<hr />
<h3> One Way Data Binding</h3>
<div>
    <b>Name :</b> @Name
</div>
<div>
    <b>Name with salutation:</b> @(Gender == "Male" ? $"Mr. {Name}" : $"Miss. {Name}")
</div>